html {
  --lightGrey: 227, 227, 227;
  --tmdbDarkBlue: 3, 37, 65;
  --tmdbLightBlue: 1, 180, 228;
  --tmdbLighterGreen: 192, 254, 207;
  --tmdbLightGreen: 30, 213, 169;
  --tmdbLogoGreen: 144, 206, 161;
  --tmdbLogoOrange: 253, 193, 112;
  --tmdbLogoRed: 217, 59, 99;
  --accountSilver: 149, 149, 149;
  --accountPink: 234, 20, 140;
  --accountPurple: 128, 91, 231;
  --accountGreen: 1, 210, 119;
  --accountTeal: 1, 198, 172;
  --accountLightBlue: 1, 180, 228;
  --accountBlue: 1, 119, 210;
  --accountOrange: 210, 119, 1;
  --accountYellow: 210, 144, 1;
  --accountRed: 212, 2, 66;
  --imageBorderRadius: 8px;
}

.navbar .dropdown-item:hover {
  background-color: rgba(0, 0, 0, .1);
}

header>.navbar {
  background-color: rgba(var(--tmdbDarkBlue), 1) !important;
}

main ._search-section {
  background-image: linear-gradient(to right, rgba(var(--tmdbDarkBlue), 0.8) 0%, rgba(var(--tmdbDarkBlue), 0) 100%), url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/r2NcIZ1FPMlxCty3vRITVTgGNVS.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main ._search-section .form-inline {
  position: relative;
  display: flex;
}

main ._search-section .form-inline>.form-control {
  height: 46px;
  flex: 1;
  border-radius: 30px;
}

._search-section .form-inline>button[type=submit] {
  height: 46px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  padding: 10px 26px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to right, rgba(var(--tmdbLightGreen), 1) 0%, rgba(var(--tmdbLightBlue), 1) 100%);
}

.card-deck-scrollable {
  display: flex;
  flex-direction: row;
}

.card-deck-scrollable>.card {
  flex: 0 0 40% !important;
  /*Change to any size you want*/
  max-width: 150px;
  border: none;
  font-size: 0.75rem;
  position: relative;
}

.card-deck-scrollable>.card>._btn-more-horiz {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-deck-scrollable>.card>._btn-more-horiz:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(var(--tmdbLightBlue), 1);
}

._btn-average {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-deck-scrollable>.card>._btn-average {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 200px;
  left: 10px
}

img[alt=poster] {
  width: 100%;
  border-radius: var(--imageBorderRadius);
}

._movie-adult {
  border: 1px solid #fff;
  padding: .25rem .5rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._movie-runtime::before,
._movie-genres::before {
  content: "•";
  margin-right: .25rem;
}

._movie-section ._btn-average {
  font-weight: bold;
  font-size: 1.5rem;
  width: 75px;
  height: 75px;
}

._movie-section .btn-group .btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

._movie-section .btn-group .btn .material-icons {
  font-size: 1rem;
}

/* base size small */


@media only screen and (min-width: 320px) {

  /* header */
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-nav .nav-item {
    margin-right: .5rem;
    position: relative;
  }

  .navbar-nav .nav-item .dropdown-menu {
    position: absolute;
    z-index: 99999999999;
  }

  .navbar-nav .nav-item.dropdown:last-child .dropdown-menu {
    position: absolute;
    z-index: 99999999999;
    left: -125px;
  }

  /* index.html */
  ._search-section .form-inline>button[type=submit] {
    height: 46px;
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    padding: 10px 26px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, rgba(var(--tmdbLightGreen), 1) 0%, rgba(var(--tmdbLightBlue), 1) 100%);
  }

  ._popular-section {
    padding: 0;
  }

  /* movie.html */
  ._movie-section ._movie-info {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  ._movie-section ._movie-adult {
    margin-right: 1rem;
  }

  ._movie-section ._btn-average {
    margin: 0 .25rem 0 0;
  }

  ._movie-section ._movie-average-and-btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  ._movie-section ._movie-average-and-btn-group .btn-group {
    flex-direction: column;
  }

  ._movie-section ._movie-average-and-btn-group .btn-group .btn {
    margin: .25rem 0;
  }

  ._movie-release {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar-nav .nav-item.dropdown:last-child .dropdown-menu {
    left: 0;
  }
}